%button.btn.btn-default{"data-target" => "#campaign-rule-#{campaign_rule.id}", "data-toggle" => "modal", :type => "button"}
  = campaign_rule.title
.modal.fade{"aria-labelledby" => "myModalLabel", :id => "campaign-rule-#{campaign_rule.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title #{campaign_rule.description} 優惠活動項目列表
      .modal-body
        %table.table.table-bordered
          %thead
            %tr.active
              %th 商品編號
              %th 商品名稱
              %th 操作
          %tbody
            - campaign_rule.campaigns.each do |campaign|
              %tr
                - if campaign.discountable_type == 'Item'
                  %td= campaign.discountable_id
                  %td= link_to  campaign.discountable.name, admin_item_path(campaign.discountable), target: "_blank"
                - elsif campaign.discountable_type.nil?
                  %td
                  %td 全館不分商品
                %td
                  = link_to '刪除', admin_campaign_path(campaign),class: 'btn btn-warning', method: :delete
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close