%div{:clas => "row"}
  .content-box-large
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} 萌萌屋
      %li
        %a{:href => admin_notifications_path} 推播訊息列表
      %li{:class => "#{"active" if current_page?(admin_notifications_path(@notification))}"}
        = @notification.content_title
    .pull-right
      = link_to "回上頁", admin_notifications_path, { class: "btn btn-default" }
    .notification-intro
      .noti-cover.col-md-4
        = image_tag(@notification.send_content_pic)
      .noti-message.col-md-8
        %dl.dl-horizontal
          %dt 推播商品
          %dd= link_to @item.name, admin_item_path(@item)
          %dt 訊息標題
          %dd= @notification.content_title
          %dt 訊息內容
          %dd= @notification.content_text
