- content_for :item_head do
  %meta{property: "product:price:amount", content: "#{item.final_price}"}
  %script{:type => "application/ld+json"}
    :plain
      {
        "@context": "http://schema.org",
        "@type": "Product",
        "description": "#{strip_tags(item.description).gsub("\r\n", " ")}",
        "name": "#{item.name}",
        "image": "#{asset_url(item.photos.first.image_url)}",
        "url": "#{category_item_url(category, item)}",
        "offers": {
          "@type": "Offer",
          "availability": "http://schema.org/InStock",
          "price": "#{item.final_price}",
          "priceCurrency": "TWD"
        }
      }