%br/
.apple_pagination
  = will_paginate items, :container => false
%table.table.table-striped.table-bordered.order-table
  %thead
    %tr
      %th.x-small 編號
      %th.small 商品名稱
      %th.small-large 商品樣式
  %tbody
    - items.each do |item|
      %tr
        %td.item-id-cell
          = item.id
        %td
          = link_to item.name, admin_item_path(item), target: "_blank"
          %hr
          = link_to "商品淘寶網站", item.url, target: "_blank"
        %td
          = render "spec_table", specs: item.specs
.apple_pagination
  = will_paginate items, :container => false
%br/