%table.table.table-bordered
  %thead
    %tr.active
      %th.large-small 樣式名稱
      %th.x-small 現貨數量
      %th.x-small 運送中數量
      %th.x-small 建議庫存量
      %th.large-small 訂購商品
  %tbody
    - specs.each do |spec|
      %tr
        %td
          = link_to spec.style, "#", rel: "popover", data: { "image-url": "#{spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
        %td
          = spec.stock_item_quantity
        %td
          = spec.shipping_item_quantity
        %td
          = ItemSpec::RECOMMEND_STOCK
        %td
          = form_tag add_admin_admin_cart_items_path, remote: true, html: { class: "form-inline" } do
            = hidden_field_tag :item_id, spec.item_id
            = hidden_field_tag :item_spec_id, spec.id
            = hidden_field_tag :taobao_supplier_id, spec.item.taobao_supplier_id
            = number_field_tag :item_quantity, 1, min: 1, max: 99, class: "form-amount"
            = submit_tag '新增至購物車', class: "btn btn-primary"