$('#result-supplier').text('#{  @supplier_name }');
$('#result-hidden-item-id').val('#{ @item.id }');
$('#result-hidden-supplier-id').val('#{ @item.taobao_supplier_id }');
$('#result-item-id').text('#{ @item.id }');
$('#result-item-status').text('#{ item_status(@item.status) }');
$('#result-item-name').text('#{ @item.name }');
$('#result-spec-style > select > option').remove();
var spec_list = $('#result-spec-style > select');
- @specs.each do  |s|
  :plain
    spec_list.append($("<option/>", {value: '#{s.id}', text: '#{s.id.to_s + '-' + "#{ j(s.style)}" }'}))
$('#result-spec-id').data('item-id', '#{ @item.id }');
$('#result-spec-pic > img').attr({'src': '#{@specs[0].style_pic.url}' });