- @specs.each do |spec|
  %dt 樣式圖片
  %dd= spec_photo(spec, photo_size="150x150")
  %dt 樣式名稱
  %dd= raw(spec.style)
  %dt 樣式狀態
  %dd= spec_status(spec.status)
  %dt 現貨數量
  %dd= spec.stock_item_quantity
  %dt 運送中數量
  %dd= spec.shipping_item_quantity
  %dt 銷售數量
  %dd= OrderItem.product_style_sales(spec.item_id, spec.id).sum_item_quantity
  %dt 銷售比例
  %dd= number_to_percentage((OrderItem.product_style_sales(spec.item_id, spec.id).sum_item_quantity.to_f / @sales_volume)*100, precision: 0)
  %dt 訂購
  %dd
    = form_tag add_admin_admin_cart_items_path, remote: true do
      = hidden_field_tag :item_id, spec.item_id
      = hidden_field_tag :item_spec_id, spec.id
      = hidden_field_tag :taobao_supplier_id, spec.item.taobao_supplier_id
      = number_field_tag :item_quantity, 1, min: 1, max: 99
      = submit_tag '新增至購物車', class: "btn btn-primary "
  %hr/
