.checkout
  .content-box-large
    - if current_admin.manager?
      .pull-right.file-form
        = form_tag import_excel_admin_categories_path, :enctype =>'multipart/form-data'  do
          = label_tag '匯入商品分類'
          = file_field_tag :excel_file, required: true, class: 'custom-file-input'
          = submit_tag '送出', class: 'btn btn-default'
    %h2 商品列表
    .pull-right
      =link_to '新增商品', new_admin_item_path, class: 'btn btn-default'
    .clearfix
    .filter-area
      .filter-row
        .filter-dt 分類
        .filter-dd
          %ul.filter-list
            - @categories.each do |category|
              = li_link_to_items_index_with_params(category.id == params[:category_id].to_i, category.name, category_id: category.id)
      - if @subcategories.any?
        .filter-row
          .filter-dt 次分類
          .filter-dd
            %ul.filter-list
              - @subcategories.each do |category|
                = li_link_to_items_index_with_params(category.id == params[:category_id].to_i, category.name, category_id: category.id)
      .filter-row
        .filter-dt 標籤
        .filter-dd
          %ul.filter-list
            = li_link_to_items_index_with_params(params[:tag].nil?, '全部', tag: nil)
            - @tags.each do |tag|
              = li_link_to_items_index_with_params(tag.name == params[:tag], tag.name, tag: tag.name)
      .filter-row
        .filter-dt 排序
        .filter-dd
          %ul.filter-list
            = li_link_to_items_index_with_params(params[:order] == 'position', '依分類排名', order: 'position')
            = li_link_to_items_index_with_params(params[:order] == 'updated_at', '依更新時間', order: 'updated_at')
            = li_link_to_items_index_with_params(params[:order] == 'id', '依編號', order: 'id')
      .filter-row
        .filter-dt 狀態
        .filter-dd
          %ul.filter-list
            = li_link_to_items_index_with_params(params[:status] == Item.statuses[:on_shelf].to_s, t('on_shelf'), ever_on_shelf: nil, status: Item.statuses[:on_shelf])
            = li_link_to_items_index_with_params(params[:status] == Item.statuses[:off_shelf].to_s, t('off_shelf'), ever_on_shelf: nil, status: Item.statuses[:off_shelf])
            = li_link_to_items_index_with_params(params[:ever_on_shelf] == 'false', '新商品未上架', ever_on_shelf: 'false', status: nil)
    = render_pagination(@items)
    %p.help-block
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th.xx-small 編號
          %th.xx-small 排序
          %th.xx-small 狀態
          %th.x-small 貨架編號
          %th.mid-small 名稱
          %th.x-small 圖片
          %th.x-small 價格
          %th.x-small 操作
      %tbody
        - @items.each do |item|
          %tr
            %td= item.id
            %td
              %button.btn.btn-primary.btn-xs{:type => "button"}
                排名：
                %span.badge= item.position
            %td{id: "status-#{item.id}"}
              = link_to_update_item_status(item)
            %td= item.shelf_position
            %td= link_to item.name, admin_item_path(item)
            %td= show_image(item.cover.icon, "90x60")
            %td
              %p= "淘寶：#{item.cost}"
              %p= "定價：#{item.price}"
              %p= "優惠：#{item.special_price}"
            %td
              = link_to "編輯", edit_admin_item_path(item), class: 'btn btn-default'
              = link_to "刪除", admin_item_path(item), class: 'btn btn-warning', method: :delete, data: { confirm: "確定刪除？", disable_with: "刪除中..." }
    = render_pagination(@items)