.content-box-large
  .info-title
    %p.lead.pull-left
      商品資訊
    = render "update_initial_on_shelf_date_form"
    %p.pull-right.inline-display
      = link_to "編輯商品", edit_admin_item_path(@item), class: "btn btn-default"
    - if current_admin.manager?
      %p.pull-right.inline-display
        =  link_to "庫存頁面", edit_admin_stock_path(@item), class: 'btn btn-default'
    %p.pull-right.inline-display{id: "status-#{@item.id}"}
      = link_to_update_item_status(@item)
  = render "item_table", item: @item
  %br
  .info-title
    %p.lead.pull-left 樣式資訊
    %p.text-right
      = link_to "新增樣式", new_admin_item_item_spec_path(@item), class: "btn btn-default"
  .custom-well
    %dl.dl-horizontal
      = render "spec_display", item: @item, specs: @specs

  .info-title
    %p.lead.text-left 樣式圖片
  .custom-well
    .row
      - @specs.each do |spec|
        .col-md-2
          %p= spec.style
          = spec_photo(spec, photo_size="150x150")
  %br
  .info-title
    %p.lead.text-left 商品敘述
  .custom-well
    .item-description.text-center
      = raw @item.description
  %br
  .info-title
    %p.lead.col-md-4 商品圖片
    %p.text-right
      = link_to "編輯商品圖片", admin_item_photos_path(@item), class: "btn btn-default"
  .row.custom-well
    .photo_section
      %p 封面圖片
      = item_cover(@item.cover)
      %p 展示圖片
      = render "photo_display", item: @item, photos: @photos