.content-box-large
  %ol.breadcrumb
    %li
      = link_to "萌萌屋", admin_root_path
    %li
      = link_to "分類列表", admin_categories_path
    %li.active
      = @item.name
  %h3 商品資訊
  %table.table.table-striped.table-bordered.order-table
    %tbody
      %tr
        %td 商品名稱
        %td{colspan: "5"}
          = @item.name
        %td 淘寶商品名稱
        %td{colspan: "5"}
          = @item.taobao_name
        %td 商品狀態
        %td{id: "status-#{@item.id}", colspan: "2"}
          = link_to update_shelf_path(@item), method: :patch, remote: true do
            = item_status(@item.status)
        %td
          = link_to "編輯商品", edit_admin_item_path(@item), class: "btn btn-default btn-sm"
      %tr
        %td 商家名稱
        %td{colspan: "2"}
          = link_to_supplier(@item)
        %td 商品編號
        %td{colspan: "2"}
          = @item.id
        %td 貨架編號
        %td{colspan: "2"}
          = @item.shelf_position
        %td 賣場連結
        %td{colspan: "2"}
          = link_to @item.url, target: "_blank" do
            按此前往淘寶商品
      %tr
        %td 淘寶價格
        %td{colspan: "2"}
          = number_to_currency(@item.cost, unit: "¥ ")
        %td 商品價格
        %td{colspan: "2"}
          = number_to_currency(@item.price, unit: "NT$ ")
        %td 優惠價格
        %td{colspan: "5"}
          = number_to_currency(@item.special_price, unit: "NT$ ")
  %hr
  %h3 樣式資訊
  .well
    %dl.dl-horizontal
      = render "spec_display", item: @item, specs: @specs
    %p.lead 新增樣式
    = form_for [:admin, @item, ItemSpec.new], html: { class: "form-horizontal well" } do |f|
      .form-group
        = f.label :style, "樣式名稱", class: "col-sm-2 control-label"
        .col-sm-5
          = f.text_field :style, class: "form-control", placeholder: "請輸入名稱"
      .form-group
        = f.label :style_pic, "樣式圖片", class: "col-sm-2 control-label"
        .col-sm-5
          = f.file_field :style_pic, multiple: true, name: "item_spec[style_pic]"
      .form-group
        .col-sm-offset-2.col-sm-10
          = link_to "顯示所有新增樣式", admin_item_path(@item), class: "btn btn-warning"
  %br
  %h3 商品敘述
  .well
    .item-description.text-center
      = raw @item.description
  %br
  %h3 商品圖片
  .pull-right
    = link_to "商品圖片", admin_item_photos_path(@item), class: "btn btn-primary btn-sm"
  .well.row
    .col-md-6
      %p 封面圖片
      = item_cover(@item.cover)
    .col-md-6
      %p 展示圖片
      = render "photo_display", item: @item, photos: @photos