- if @type == 'favorite'
    #{ analytic_event('product', 'add_to_collection', "#{@item.name}") }
    $('#add-favorite').addClass('checked').removeClass('uncheck');
    $('#add-favorite').attr('href', '#{ favorite_favorite_item_path(@item.id, type: 'un-favorite' ) }');
-elsif @type == 'un-favorite'
    #{ analytic_event('product', 'remove_from_collection', "#{@item.name}") }
    $('#add-favorite').addClass('uncheck').removeClass('checked');
    $('#add-favorite').attr('href', '#{ favorite_favorite_item_path(@item.id, type: 'favorite' ) }');