.row
  .col-md-12
    %table{:align => "center"}
      %tbody
        %tr
          %td
            %p 親愛的萌友，
            %p= "您於 #{@user.password_reset_sent_at.strftime('%Y年%m月%d日 %I:%M:%S%P')} 申請了重設密碼的服務"
            %p 請點擊以下連結，進入重設密碼頁面
            %p= link_to "點擊重設密碼", password_resets_edit_url(token: @user.password_reset_token)
        %tr
          %td
            %p 若有任何問題，請聯繫我們客服。
            %p 萌萌屋期待您的再次光臨！
            %p 聯絡客服
            %p
              %span
                = link_to "Line@ 客服", "http://line.me/ti/p/%40kya5456n"
              %br
              %br
              %span
                = link_to "FB 粉絲頁", "https://www.facebook.com/kingofgametw/"