- @item_revenue.each do |item|
  %tr
    %td= link_to item.source_item_id, admin_item_path(item.item), target: "_blank"
    %td
      - item.categories.each do |category|
        %ul.list-unstyled
          %li= link_to category.name, admin_category_path(category), target: "_blank"
    %td= link_to item.item_name, admin_item_path(item.item), target: "_blank"
    %td
      = item.get_taobao_supplier_name
    %td
      %p.lead.spec-style-stock
        %span= item.sum_item_revenue