.col-md-12
  .col-md-4
    %table.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr
          %td.bg-success
            %p 銷售狀況
        %tr
          %td 
            %span.data-subject a. 總訂單數
            %span.data-value.pull-right
              = @total_order_quantity
        %tr
          %td
            %span.data-subject b. 總銷售金額
            %span.data-value.pull-right
              = @total_sales_income
        %tr
          %td
            %span.data-subject c. 總貨物成本
            %span.data-value.pull-right
              = @total_cost_of_goods
        %tr
          %td
            %span.data-subject d. 總進貨物流費
            %span.data-value.pull-right
              = @total_cost_of_freight_in
        %tr
          %td 
            %span.data-subject e. 總出貨物流費
            %span.data-value.pull-right
              = @total_cost_ship_fee
        %tr
          %td
            %span
        %tr
          %td 
            %span.data-subject f. 毛利(b - c - d - e)
            %span.data-value.pull-right
              = round_decimal_number(@gross_profit)
        %tr
          %td 
            %span.data-subject g. 平均訂單毛利(f / a)
            %span.data-value.pull-right
              = round_decimal_number(@gross_profit_per_order)
  .col-md-4
    %table.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr
          %td.bg-danger
            %p 廣告費用        
        %tr
          %td 
            %span.data-subject h. 總廣告費用
            %span.data-value.pull-right
              = @total_cost_of_advertising
        %tr
          %td 
            %span.data-subject i. 平均廣告費用(h / a)
            %span.data-value.pull-right
              = round_decimal_number(@average_cost_of_advertising)
        %tr
          %td 
            %span.data-subject j. 平均扣廣告訂單毛利(g - i)
            %span.data-value.pull-right
              = round_decimal_number(@average_gross_profit_except_ads)
  .col-md-4
    %table.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr
          %td.bg-warning
            %p 取消訂購與退貨
        %tr
          %td 
            %span.data-subject k. 取消訂單數
            %span.data-value.pull-right
              = @cancelled_order_quantity
        %tr
          %td 
            %span.data-subject l. 取消訂單總金額
            %span.data-value.pull-right
              = @cancelled_order_amount
        %tr
          %td 
            %span.data-subject m. 取消訂單總物流費用
            %span.data-value.pull-right
              = @cancelled_order_ship_fee
        %tr
          %td 
            %span.data-subject n. 實際毛利(f - l)
            %span.data-value.pull-right
              = round_decimal_number(@actual_gross_profit)
        %tr
          %td 
            %span.data-subject o. 實際平均訂單毛利(f - l / a - k)
            %span.data-value.pull-right
              = round_decimal_number(@actual_average_gross_profit)