%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.large-small 商品名稱
      %th.x-small 淘寶連結
      %th.small 樣式名稱
      %th.x-small 樣式圖片
      %th.mid-small 數量
      %th.x-small 操作
  %tboady
    %tr
      = form_tag admin_admin_cart_items_path, class: "search-add-item" do
        = hidden_field_tag :item_id, item ? item.id : '', id: 'result-hidden-item-id'
        = hidden_field_tag :taobao_supplier_id, item ? item.taobao_supplier_id : '', id: 'result-hidden-supplier-id'
        %th#result-item-name= item ? link_to_item(item) : ''
        %th#result-item-url= item ? link_to_item_taobao(item) : ''
        %th#result-spec-style= select_tag :item_spec_id, item ? options_for_select(item.specs.collect{ |s| ["#{s.id}-#{s.style}", s.id] }) : '', id: 'result-spec-id', 'data-item-id': item ? item.id : ''
        %th#result-spec-pic=image_tag item ? item.specs[0].style_pic.url : '', class: "cart-spec-pic"
        %th#result-quantity= number_field_tag :item_quantity, 1, min: 1, required: true
        %th#result-submit= submit_tag '訂購', class: 'btn btn-primary'