.content-box-large
  .breadcrumb-topbar
    %ol.breadcrumb
      %li
        = link_to "萌萌屋", admin_root_path
      %li.active 購物金活動列表
  .pull-right
    = link_to "新增購物金活動", new_admin_shopping_point_campaign_path, class: "btn btn-default"
  %h2 購物金活動列表
  %ul.nav.nav-tabs
    %li{class: "#{'active' if @is_expired == false}"}= link_to '進行中', admin_shopping_point_campaigns_path
    %li{class: "#{'active' if @is_expired == true}"}= link_to '已失效', admin_shopping_point_campaigns_path(is_expired: true)
  .panel-body
    = render_pagination(@shopping_point_campaigns)
    = render "shopping_point_campaigns_table"
    = render_pagination(@shopping_point_campaigns)
