.step-bar
  .step
    = render_cart_step(1)
    .text
      確認訂單
  = render_step_bar(1)
  .step
    = render_cart_step(2)
    .text
      填寫訂購資料
  = render_step_bar(2)
  .step
    = render_cart_step(3)
    .text
      確認訂單明細