%footer.footer
  .container.xs-padding
    .section.about
      關於萌萌屋
      %p萌萌屋走在青年流行的前線, 為年輕人們提供一個快樂購物的管道, 想知道最近流行些什麼, 有什麼可愛的東東, 來萌萌屋就對了!
    .divider
    .section.info
      購物資訊
      %p= link_to '購物說明', shop_infos_path
    .divider
    .section.contact
      聯繫客服
      %p
        = link_to "http://line.me/ti/p/%40kya5456n", target: '_blank', class: 'icon' do
          = image_tag('icons/line.png')
        = link_to  "https://www.facebook.com/mmwooo/", target: '_blank', class: 'icon' do
          = image_tag('icons/fb.png')