%footer.footer
  .container
    %li.list
      = link_to "關於萌萌屋", "#"
    %li.divider
    %li.list
      聯繫客服：
      %li.list
        = link_to "http://line.me/ti/p/%40kya5456n" do
          = image_tag('icons/line.png')
      %li.list
        = link_to  "https://www.facebook.com/kingofgametw/" do
          = image_tag('icons/fb.png')
