%nav.navbar.navbar-default.nav-bar
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button#nav-drop.navbar-toggle.collapsed{"aria-expanded": "false", "data-target": "#nav-bar-collapse", "data-toggle": "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.logo-block{:href => root_path}
        = image_tag('icons/logo.png', class: 'logo')
        .name
          萌萌屋
    / Collect the nav links, forms, and other content for toggling
    #nav-bar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.nav-list.visible-xs-block
          .dropdown
            .list.diamond.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              商品分類
              %span.caret
            %ul.dropdown-menu
              - @categories.each do |category|
                %li.list
                  = link_to category.name, category_path(category), class: "link", onClick: analytic_event('navigation_dropdown', 'click', category.name)
        %li.nav-list
          = link_to checkout_path, onClick: analytic_event('cart', 'click', '無') do
            .list.cart
              購物車
              = render_counter
        - if current_user.nil?
          %li.nav-list
            = link_to auth_path("facebook") do
              .list.user 登入/註冊
        -else
          %li.nav-list#user-nav
            .dropdown#user
              .list.user.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                = current_user.user_name
                %span.caret
              %ul.dropdown-menu
                %li.list
                  = link_to "我的訂單", orders_path, class: 'link'
                %li.list
                  = link_to "我的收藏", favorite_items_path, class: 'link'
                %li.list
                  = link_to "登出", signout_path, class: 'link'
    - if mobile?
      = render 'partials/app_install_banner'