.row
  - items.each do |item|
    .col-lg-4.col-xs-6.xs-padding
      .product-block
        = link_to "#" do
          .image
            = image_tag(item.cover.url, class: 'img-responsive center-block')
          .text
            = item.name
          .price
            = "NT #{item.price}"