.user-panel
  =image_tag( profile_pic, class: 'profilePic')
  .name
    = current_user.user_name
  .email
    = current_user.email
  .divider
  .selectList{ class: current_active_class(orders_path) }
    = link_to '我的訂單', orders_path
  .selectList{ class: current_active_class(favorite_items_path) }
    = link_to '我的收藏', favorite_items_path
  .selectList{ class: current_active_class(wish_lists_path) }
    = link_to '補貨清單', wish_lists_path