%button.btn.btn-default.btn-sm{"data-target" => "#edit-order-#{order.id}", "data-toggle" => "modal", remote: true, :type => "button"}
  編輯訂單
.modal.fade{"aria-labelledby" => "myModalLabel", :id => "edit-order-#{order.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = form_for [:admin, order], method: :patch, :html => {"data-target": "#edit-order-#{order.id}"}, remote: true, class: "edit-order" do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title 訂單明細
        .modal-body
          %h4#myModalLabel.modal-title 收件明細
          %ul.list-group
            - if order.info
              %li.list-group-item
                收件人姓名： #{order.ship_name}
              %li.list-group-item
                聯絡電話： #{order.ship_phone}
              %li.list-group-item
                Email： #{order.ship_email}
              %li.list-group-item
                門市店號： #{order.ship_store_code}
              %li.list-group-item
                門市名稱： #{order.ship_store_name}
              %li.list-group-item
                門市地址： #{order.address}
          %br/
          .form-group
            .form-group
              = f.label :total, "總金額"
              = f.text_field :total, class: 'form-control'
            .form-group
              = f.label :note, "訂單備註"
              = f.text_area :note, class: 'form-control', rows: 5, place_horder: order.note
            .form-group
              = f.fields_for :info do |info_f|
                = info_f.label :ship_email, "Email"
                = info_f.email_field :ship_email, class: 'form-control'
                %br
                = info_f.label :ship_phone, "聯絡電話"
                = info_f.number_field :ship_phone, class: 'form-control'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消
          %button.btn.btn-primary{type: "submit"}  送出變更
