%button.btn.btn-default.btn-sm{"data-target" => "#order-#{order.id}", "data-toggle" => "modal", :type => "button"}
  = order.id
/ Modal
.modal.fade{"aria-labelledby" => "myModalLabel", :id => "order-#{order.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title 訂單明細
      .modal-body
        %h4#myModalLabel.modal-title 收件明細
        %ul.list-group
          - if order.info
            %li.list-group-item
              收件人姓名： #{order.ship_name}
            %li.list-group-item
              聯絡電話： #{order.ship_phone}
            %li.list-group-item
              Email： #{order.ship_email}
            %li.list-group-item
              門市店號： #{order.ship_store_code}
            %li.list-group-item
              門市名稱： #{order.ship_store_name}
            %li.list-group-item
              門市地址： #{order.address}
        %br/
        %h4#myModalLabel.modal-title 商品明細
        %table.table.table-bordered
          %thead
            %tr.active
              %th 商品名稱
              %th 商品樣式
              %th 購買數量
              %th 商品單價
          %tbody
            - if order.items
              - order.items.each do |item|
                %tr.success
                  %td
                    = link_to item.item_name, admin_item_path(item.item)
                  %td= item.item_style
                  %td= item.item_quantity
                  %td= item.item_price
        %table.table.table-bordered
          %tbody
            %tr
              %td.info 訂單總金額
              %td= order.total
        %h4#myModalLabel.modal-title 訂單備註
        .note
          = order.note
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
