%br/
- if params[:restock].present?
  = restock_navs(order_status: params[:status])
= render_pagination(orders)
%table.table.table-striped.table-bordered.order-table
  %thead
    %tr
      %th.xx-small 編號
      %th.x-small 訂購日期
      %th.x-small 訂單狀態
      %th.x-small 物流狀態
      %th.x-small 訂購用戶
      %th.x-small 訂購金額
      %th.x-small 問題訂單
      %th.small-mid 操作
  %tbody
    - orders.each do |order|
      %tr{id: "order-id-#{order.id}"}
        %td.item-id-cell
          = order.id
        %td
          = display_date(order.created_at)
        %td
          .dropdown{id: "dropdown-#{order.id}"}
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              %span{id: "current-#{order.id}-status"}= order.status
              %span.caret
            %ul.dropdown-menu.list-group
              - unless order.status == "新訂單"
                %li
                  = link_to_update_order_status("處理中", order)
                %li
                  = link_to_update_order_status("配送中", order)
                %li
                  = link_to_update_order_status("已到店", order)
                %li
                  = link_to_update_order_status("完成取貨", order)
                %li
                  = link_to_update_order_status("未取訂貨", order)
                %li
                  = link_to_update_order_status("訂單變更", order)
                %li
                  = link_to_update_order_status("退貨", order)
              %li
                = link_to_update_order_status("訂單取消", order)
        %td
          %span{id: "logistis-#{order.id}"}= logistics_status(order)
        %td
          .user-name= link_to order.user.user_name, admin_user_path(order.user)
        %td
          = order.total
        %td.user-id-cell
          = blacklist_warning(order)
        %td
          = link_to "明細", admin_order_path(order),class: "button btn btn-default btn-sm"
          = link_to "編輯", edit_admin_order_path(order), class: "btn btn-default btn-sm"
          = render "message_notification", order: order
          = link_to_restock(order)
          = link_to_send_survey_email(order)
          = link_to_create_refund_shopping_point(order)
= render_pagination(orders)
