%br
= render_pagination(orders)
%table.table.table-bordered.order-table
  %thead
    %tr
      %th.xx-small 編號
      %th.x-small 訂購日期
      %th.x-small 訂單狀態
      %th.x-small 物流狀態
      %th.x-small 訂購用戶
      %th.x-small 訂購金額
      %th.x-small 訂單標籤
      %th.small-mid 操作
  %tbody
    - orders.each do |order|
      %tr{id: "order-id-#{order.id}", class: "#{set_class_if_repurchased(order)}"}
        %td.item-id-cell
          = order.id
        %td
          = display_date(order.created_at)
        %td
          .dropdown{id: "dropdown-#{order.id}"}
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              %span{id: "current-#{order.id}-status"}= order.status
              %span.caret
            %ul.dropdown-menu.list-group
              = li_link_to_update_order_status(order)
        %td
          %span{id: "logistis-#{order.id}"}= logistics_status(order)
        %td
          .user-name= link_to order.user.user_name, admin_user_path(order.user)
        %td
          = order.total
        %td.user-id-cell
          = span_credit_card_order_paid_notice(order)
          = span_blacklist_notice(order)
          = span_repurchased_notice(order)
        %td
          = link_to "明細", admin_order_path(order),class: "button btn btn-default btn-sm"
          = link_to "編輯", edit_admin_order_path(order), class: "btn btn-default btn-sm"
          = render "message_notification", order: order
          - if params[:ship_type] == Order.ship_types["store_delivery"].to_s
            = link_to_post_order_to_allpay(order)
          = link_to_allpay_barcode(order)
          = link_to_restock(order)
          = link_to_send_survey_email(order)
          = link_to_create_refund_shopping_point(order)
          - if params[:status] == Order.statuses["訂單變更"].to_s
            = link_to '下載EXCEL', export_changed_order_admin_order_path(order, format: "xlsx"), class: 'btn btn-default btn-sm inline-display'
            - if order.note.present?
              %p.help-block
              %p 備註：#{order.note}
= render_pagination(orders)
