%button.btn.btn-default.btn-sm{"data-target" => "#user-order-#{order.id}", "data-toggle" => "modal", :type => "button"}
  詳細訂單紀錄
/ Modal
.modal.fade{"aria-labelledby" => "myModalLabel", :id => "user-order-#{order.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title #{order.ship_name}的所有訂單狀態
      .modal-body
        %table.table.table-bordered
          %thead
            %tr.active
              %th 訂單狀態
              %th 訂單數量
          %tbody
            - statuses_count.each do |status_number, count|
              %tr
                %td
                  = order_status(status_number)
                %td
                  = count
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close