%br/
.apple_pagination
  = will_paginate orders, :container => false
.panel-body
  %table.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th 編號
        %th 訂購日期與狀態
        %th 訂購用戶
        %th 訂購商品
        %th 總金額
    %tbody
      - orders.each do |order|
        %tr
          %td
            = render(partial: "info_and_items_list", locals: { order: order })
            %br
            = render(partial: "edit_order", locals: { order: order })
            %br
            = create_allpay_index_button(order)
          %td
            = order.created_on
            %br
            .dropdown{id: "dropdown-#{order.id}"}
              %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %span{id: "current-#{order.id}-status"}= order.status
                %span.caret
              %ul.dropdown-menu.list-group
                %li                  
                  = link_to_update_order_status("處理中", order)
                %li
                  = link_to_update_order_status("已出貨", order)
                %li
                  = link_to_update_order_status("已到店", order)
                %li
                  = link_to_update_order_status("完成取貨", order)
                %li
                  = link_to_update_order_status("未取訂貨", order)
                %li
                  = link_to_update_order_status("訂單變更", order)
                %li
                  = link_to_update_order_status("訂單取消", order)
            %hr
            物流狀態：
            %br
            %span{id: "logistis-#{order.id}"}= logistics_status(order)
          %td
            = link_to order.info_user_name, admin_user_path(order.user)
            %br
            - statuses_count = order.user_orders.status_count
            購買次數：#{order.user_orders.count}
            %br
            完成取貨：#{statuses_count[Order.statuses["完成取貨"]]}
            %br
            未取訂貨：#{statuses_count[Order.statuses["未取訂貨"]]}
            %br
            = render partial: "order_status_tooltip", locals:{ order: order, statuses_count: statuses_count }
          %td
            %table.table.table-bordered
              %thead
                %tr.active
                  %th 編號
                  %th 名稱
                  %th 樣式
                  %th 數量
              %tbody
                - if order.items
                  - order.items.each do |item|
                    %tr.success
                      %td= item.item.id
                      %td
                        = link_to item.item_name, admin_item_path(item.item)
                      %td= item.item_style
                      %td= item.item_quantity
            %table.table.table-bordered
              %tbody
                %tr.active
                  %th 備註
                %tr
                  %td= order.note
          %td= order.total
.apple_pagination
  = will_paginate orders, :container => false
%br/