.search-order
  = form_tag search_admin_orders_path, { class: "form-inline", method: :get } do
    .form-group
      = search_field_tag :ship_phone_data, params[:ship_phone_data], class: "form-control", placeholder: "輸入手機號碼"
    .form-group
      = search_field_tag :ship_email_data, params[:ship_email_data], class: "form-control", placeholder: "輸入Email"
    = button_tag "搜尋訂單", class: "btn btn-info"
.search-order
  = form_tag search_admin_orders_path, { class: "form-inline", method: :get } do
    .form-group
      = search_field_tag :order_id, params[:order_id], class: "form-control", placeholder: "輸入訂單編號"
    = button_tag "搜尋訂單", class: "btn btn-info"
