.row
  .col-md-12.panel-warning
    .content-box-header.panel-heading
      .panel-title 訂單查詢結果
    .content-box-large.box-with-header
      = render "search_form"
      %br
      .search_term_field.panel.panel-primary
        .panel-body
          %p 查詢的訂單編號：#{@search_term[:order_id]}
          %p 查詢的手機號碼：#{@search_term[:ship_phone]}
          %p 查詢的Email：#{@search_term[:ship_email]}
      = render "order_table", orders: @search_results
