.content-box-large
  %h3 訂單明細
  %h4 收件明細
  %ul.list-group
    - if @order.info
      %li.list-group-item
        訂單編號： #{@order.id}
      %li.list-group-item
        訂購日期： #{display_date(@order.created_at)}
      %li.list-group-item
        收件人姓名： #{@order.ship_name}
      %li.list-group-item
        聯絡電話： #{@order.ship_phone}
      %li.list-group-item
        Email： #{@order.ship_email}
      - if @order.store_delivery?
        %li.list-group-item
          門市店號： #{@order.ship_store_code}
        %li.list-group-item
          門市名稱： #{@order.ship_store_name}
        %li.list-group-item
          門市地址： #{@order.address}
      - elsif @order.home_delivery? || @order.home_delivery_by_credit_card?
        %li.list-group-item
          收件地址： #{@order.ship_address}
  %h4 商品明細
  %table.table.table-bordered
    %thead
      %tr.active
        %th.xx-small 商品編號
        %th.mid-small 商品名稱
        %th.x-small 商品樣式
        %th.xx-small 購買數量
        %th.xx-small 商品單價
        %th.xx-small 現貨數
        %th.xx-small 運送中
        %th.xx-small 需求量
        %th.mid-small 狀態
    %tbody
      - @order.items.by_source_item.each do |order_item|
        %tr
          %td= order_item.source_item_id
          %td
            = link_to order_item.item_name, admin_item_path(order_item.item)
          %td= order_item.item_style
          %td= order_item.item_quantity
          %td= order_item.item_price
          %td.stock-amount= order_item.stock_amount
          %td= order_item.shipping_amount
          %td= span_spec_requested_number(order_item)
          %td= unable_to_buy_status(order_item)
      %tr
        %td.text-right{colspan: 9}
          %p= "訂單總金額：#{@order.items_price}"
          %p.red-color= "購物金使用金額：- #{@order.shopping_point_spend_amount}"
          %p= "運費：#{@order.ship_fee}"
          %p= "結帳總金額：#{@order.total}"
  %table.table.table-bordered
    %thead
      %tr
        %th 訂單備註
    %tbody
      %tr
        %td
          .note
            = @order.note