.row
  .col-md-12.panel-warning
    .content-box-large.box-with-header
      .clearfix
        .pull-right
          = render "search_form"
          %p.help-block
          - if params[:status].to_i == Order.statuses["新訂單"]
            .pull-right
              = link_to '處理有現貨訂單', update_to_processing_admin_orders_path, class: 'btn btn-default', method: :patch
          - if params[:status].to_i == Order.statuses["處理中"]
            .pull-right
              = link_to '轉配送中', change_status_to_transfer_admin_orders_path, class: 'btn btn-default inline-display'
              = link_to '下載EXCEL', export_processing_order_list_admin_orders_path(format: 'xlsx'), class: 'btn btn-default inline-display'
              = link_to '物流單', open_barcode_tab_admin_orders_path, remote: true, class: 'btn btn-default inline-display'
              = link_to '傳送至歐付寶', create_allpay_index_path, remote: true, class: 'btn btn-default inline-display', method: :post
          - if params[:status].to_i == Order.statuses["退貨"]
            .pull-right
              = link_to '退貨訂單EXCEL(尚未入庫)', export_returned_order_list_admin_orders_path(format: 'xlsx'), class: 'btn btn-default'
          - if params[:status].to_i == Order.statuses["宅配"]
            .pull-right
              = link_to "下載宅配訂單EXCEL", export_home_delivery_order_list_admin_orders_path(format: :xls), class: "btn btn-default"
        %h2.header-title 訂單狀態分類列表
      %p.help-block
      %ul.nav.nav-tabs
        = li_status_link(status: Order.statuses["新訂單"], ship_type: OrderInfo.ship_types["store_delivery"])
        = li_status_link(status: Order.statuses["處理中"], ship_type: OrderInfo.ship_types["store_delivery"])
        = li_status_link(status: Order.statuses["配送中"], ship_type: OrderInfo.ship_types["store_delivery"])
        = li_status_link(status: Order.statuses["已到店"], ship_type: OrderInfo.ship_types["store_delivery"])
        = li_status_link(status: Order.statuses["完成取貨"], ship_type: OrderInfo.ship_types["store_delivery"])
        = li_status_link(status: Order.statuses["未取訂貨"], ship_type: OrderInfo.ship_types["store_delivery"], restock: false)
        = li_status_link(status: Order.statuses["訂單變更"], ship_type: OrderInfo.ship_types["store_delivery"])
        = li_status_link(status: Order.statuses["訂單取消"], ship_type: OrderInfo.ship_types["store_delivery"])
        = li_status_link(status: Order.statuses["退貨"], ship_type: OrderInfo.ship_types["store_delivery"], restock: false)
        = li_status_link(status: Order.statuses["宅配"])
      = render "order_table", orders: @orders