.row
  .col-md-12.panel-warning
    .content-box-header.panel-heading
      .panel-title 訂單狀態分類列表
    .content-box-large.box-with-header
      = render "search_form"
      %hr
      %ul.nav.nav-tabs
        = li_status_link(Order.statuses["訂單成立"])
        = li_status_link(Order.statuses["處理中"])
        = li_status_link(Order.statuses["配送中"])
        = li_status_link(Order.statuses["已到店"])
        = li_status_link(Order.statuses["完成取貨"])
        = li_status_link(Order.statuses["未取訂貨"])
        = li_status_link(Order.statuses["訂單變更"])
        = li_status_link(Order.statuses["訂單取消"])
      = render "order_table", orders: @orders