.row
  .col-md-12.panel-warning
    .content-box-large.box-with-header
      .clearfix
        .pull-right
          = render "search_form"
          %p.help-block
          - if params[:status].to_i == Order.statuses["新訂單"]
            .pull-right
              = link_to '處理有現貨訂單', update_to_processing_admin_orders_path(ship_type: params[:ship_type]), class: 'btn btn-default', method: :patch
          - if params[:status].to_i == Order.statuses["處理中"]
            = render "processing_link"
          - if params[:status].to_i == Order.statuses["退貨"]
            .pull-right
              = link_to '退貨訂單EXCEL(尚未入庫)', export_returned_order_list_admin_orders_path(ship_type: params[:ship_type], format: 'xlsx'), class: 'btn btn-default'
        %h2.header-title 訂單狀態分類列表
      %p.help-block
      = ship_type_navs
      %p.help-block
      = render "status_navbar"
      = render "order_table", orders: @orders