.form-group
  = f.label :message_type, "訊息類型", class: "col-sm-2 control-label"
  .col-sm-10
    = f.select :message_type, Message.message_type_lists, { include_blank: "請選擇類型" }, class: "form-control", required: true
.form-group
  = f.label :title, "訊息標題", class: "col-sm-2 control-label"
  .col-sm-10
    = f.text_field :title, { class: "form-control", placeholder: "請輸入標題", required: true }
.form-group
  = f.label :content, "訊息內容", class: "col-sm-2 control-label"
  .col-sm-10
    = f.text_area :content, { rows: 6, class: "form-control", placeholder: "請輸入內容", required: true }
.form-group
  .col-sm-offset-2.col-sm-10
    = f.submit "確認送出", class: "btn btn-primary"
    = link_to "取消離開", admin_messages_path, class: "btn btn-warning"