.content-box-large
  .breadcrumb-topbar
    %ol.breadcrumb
      %li
        = link_to "萌萌屋", admin_root_path
      %li.active 官方訊息列表
  .pull-right
    = link_to "新增訊息", new_admin_message_path, { class: "btn btn-primary" }
  %h2 官方訊息列表
  .category-all-items
    .panel-body
      .apple_pagination
        = will_paginate @messages, :container => false
      %br/
      = render "message_table"
      .apple_pagination
        = will_paginate @messages, :container => false