.col-md-10
  .content-box-large
    .breadcrumb-topbar
      %ol.breadcrumb
        %li
          = link_to "萌萌屋", admin_root_path
        %li
          = link_to "官方訊息列表", admin_messages_path
        %li.active 新增個人訊息
    .panel-heading
      .panel-title
        %h3 新增個人訊息
    .panel-body
      = form_for [:admin, @message], url: {action: "create_my_message"}, html: { class: "form-horizontal" } do |f|
        .form-group
          = hidden_field_tag "message[user_ids][]", params[:user_id]
          = hidden_field_tag "device_registration_id", params[:device_registration_id]
        = render "message_form", f: f