.content-box-large
  %h2
    通知訊息#{@message.id}
  .message-infos.well
    %p.pull-right
      = link_to "回上頁", admin_messages_path, class: "btn btn-default"
    %p.lead 訊息資料：
    %dl.dl-horizontal
      %dt 訊息編號
      %dd= @message.id
      %dt 訊息類型
      %dd= @message.message_type
      %dt 公布時間
      %dd= display_date(@message.created_at)
      %dt 訊息標題
      %dd= @message.title
      %dt 訊息內容
      %dd= @message.content