- breadcrumb :order_detail, @order
.orders
  .icon-header.-order 訂單明細
  .cart-result.-header
    .header.row
      .col-lg-2.col-sm-2.hidden-xs.no-padding= display_date(@order.created_at)
      .col-lg-2.col-sm-2.col-xs-4.no-padding= "訂單編號：#{@order.id}"
      .col-lg-4.col-sm-3.col-xs-5.no-padding
        %span 訂單狀態：
        = order_status(@order.status)
      -if @order.cancel_able?
        .col-lg-2.col-lg-offset-2.col-sm-2.col-sm-offset-3.col-xs-3.no-padding= content_tag(:div, '取消訂單', class: 'btn btn-success', 'data-toggle': "modal", 'data-target': "#cancel-modal")
        = render 'orders/cancel_modal', order: @order
  .cart-result
    .header.row.visible-lg-block
      .col-lg-2.no-padding 產品照片
      .col-lg-4.no-padding 產品名稱
      .col-lg-2.no-padding 產品樣式
      .col-lg-1.no-padding 產品單價
      .col-lg-1.no-padding 產品數量
      .col-lg-2.no-padding 小計
    .divider.visible-lg-block
    - @items.each do |item|
      .item-bar.row{id: "cart-item-#{item.id}"}
        .col-lg-2.col-sm-2.col-xs-3.icon= image_tag(item.item_spec.style_pic.url)
        .col-lg-4.col-xs-8.itemname= item.item_name
        .col-lg-2.col-sm-10.col-xs-9.spec= item.item_style
        .col-lg-1.col-sm-4.col-xs-2.price= price_with_unit(item.item_price)
        .col-lg-1.col-sm-2.col-xs-3.quantity
          %div= item.item_quantity
        .col-lg-2.col-lg-offset-0.col-sm-2.col-sm-offset-1.col-xs-4.subtotal= price_with_unit(item.item_price * item.item_quantity)
    .divider
    .totalrow.row
      .col-lg-3.col-lg-offset-7.col-sm-5.col-xs-8.text
        %div 產品總額
      .col-lg-2.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
        #cart-sum= price_with_unit(@order.items_price)
    - if @shopping_point_amount && @shopping_point_amount > 0
      .totalrow.row
        .col-lg-3.col-lg-offset-7.col-sm-5.col-xs-8.text
          %div 購物金折抵
        .col-lg-2.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
          %div=  '-' + price_with_unit(@shopping_point_amount)
      .divider
      .totalrow.row
        .col-lg-3.col-lg-offset-7.col-sm-5.col-xs-8.text
          %div 折抵後總額
        .col-lg-2.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
          %div= price_with_unit(@reduced_items_price)
    .totalrow.row
      .col-lg-3.col-lg-offset-7.col-sm-5.col-xs-8.text
        %div 運費（滿490免運費）
      .col-lg-2.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
        #ship-fee
          = price_with_unit(@order.ship_fee)
    .divider
    .totalrow.row
      .col-lg-3.col-lg-offset-7.col-sm-5.col-xs-8.text
        %div 結帳金額
      .col-lg-2.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
        #totalprice= price_with_unit(@order.total)
  .row
    .col-lg-6
      - if @order.ship_type == "store_delivery"
        .icon-header.-people 取貨人資訊
      - elsif @order.ship_type == "home_delivery"
        .icon-header.-people 收件人資訊
      .input-block.-info
        .group
          %div= "姓名：#{@info.ship_name}"
        .group
          %div= "電話：#{@info.ship_phone}"
        .group
          %div= "連絡信箱：#{@info.ship_email}"
    .col-lg-6
      - if @order.ship_type  == "store_delivery"
        = render "carts/store_delivery_info", store: @info.store
      -elsif  @order.ship_type  == "home_delivery"
        = render "carts/home_delivery_info", ship_address: @info.ship_address
