.index
  = image_tag('carousel/banner.png', class: 'img-responsive center-block')
  - @category_with_items.each do |category_with_items|
    .category-header
      .group
        .icon.visible-lg-inline-block
          = category_header_icon(category_with_items[:category].id)
        .text
          = category_with_items[:category].name
    = render "partials/product_list", category: category_with_items[:category], items: category_with_items[:items]
    .row
      .col-lg-offset-4.col-lg-4
        = link_to category_path(category_with_items[:category]), onClick: analytic_event("more_category", "click", category_with_items[:category].name) do
          .more-btn
            觀看更多