- content_for :head do
  %link{href: "android-app://com.kosbrother.mongmongwoo/https/www.mmwooo.com", rel: "alternate"}
  %link{href: "android-app://com.kosbrother.mongmongwoo/mmwooo/www.mmwooo.com", rel: "alternate"}
  - @banners.each do |b|
    %meta{ property: "og:image", content: b.image_url }

.index
  #banners-carousel.carousel.slide{"data-ride": "carousel"}
    %ol.carousel-indicators
      - @banners.each_with_index do |banner, index|
        %li{"data-target": "#banners-carousel",  "data-slide-to": index, class: "#{'active' if index == 0}"}
    .carousel-inner{roll: "listbox"}
      - @banners.each_with_index do |banner, index|
        .item{class: "#{'active' if index == 0}"}
          = link_to banner.able_path || '#' do
            = image_tag(banner.image.url, class: 'img-responsive')
    %a.left.carousel-control{role: "button", "data-slide": "prev", href: "#banners-carousel"}
      %span.glyphicon.glyphicon-chevron-left
      %span.sr-only Previous
    %a.right.carousel-control{role: "button", "data-slide": "next", href: "#banners-carousel"}
      %span.glyphicon.glyphicon-chevron-right
      %span.sr-only Next
  - @category_with_items.each do |category_with_items|
    .category-header
      .group
        .icon.visible-lg-inline-block
          = category_header_icon(category_with_items[:category].id)
        .text
          = category_with_items[:category].name
    = render "partials/product_list", category: category_with_items[:category], items: category_with_items[:items]
    .row
      .col-lg-offset-4.col-lg-4
        = link_to category_path(category_with_items[:category]) do
          .more-btn
            觀看更多