= form_for [:admin, @user, @shopping_point], html: { class: "form-horizontal" } do |f|
  .form-group
    = f.label :point_type, "購物金類型", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :point_type, point_type_select_options, { include_blank: "請選擇購物金類型" }, class: "form-control", required: true
  .form-group
    = f.label :amount, "購物金額度", class: "col-sm-2 control-label"
    .col-sm-10
      = f.number_field :amount, value: amount_from_order_items_price, class: "form-control", min: 0, placeholder: "請輸入購物金額度", required: true
  .form-group
    = f.label :valid_until, "截止日期", class: "col-sm-2 control-label"
    .col-sm-10
      = f.datetime_field :valid_until, class: "form-control datetimepicker", placeholder: "選擇截止日期"
  .form-group
    = f.label :shopping_point_campaign_id, "購物金活動", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :shopping_point_campaign_id, shopping_point_campaign_id_select_options, { include_blank: "請選擇購物金活動" }, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "確認送出", class: "btn btn-primary"
      = link_to_previous_path