%table.table.table-bordered
  %thead
    %tr
      %th.large-small 商品資訊
      %th 淘寶網站
      %th 樣式名稱
      %th 樣式狀態
      %th 現貨數量
      %th 運送中數量
      %th 建議庫存量
      %th 操作
  %tbody
    - stocks.each do |stock|
      %tr
        %td{id: "stock-id-#{stock.id}", rowspan: stock.specs.count + 1}
          .media
            .media-left
              = image_tag(stock.cover.url, size: "120x120")
            .media-body
              商品編號：#{stock.id}
              %p.help-block
              商品名稱：
              = link_to stock.name, admin_item_path(stock), target: "_blank"
              %p.help-block
              狀態：#{t(stock.status)}
              %p.help-block
              淘寶：#{stock.ntd_cost}
              %p.help-block
              定價：#{stock.price}
              %p.help-block
              優惠：#{stock.special_price}
        %td{rowspan: stock.specs.count + 1}
          = link_to "連結", stock.url, target: "_blank"
        - stock.specs.each do |spec|
          %tr
            %td
              = link_to spec.style, "#", rel: "popover", data: { "image-url": "#{spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
            %td
              = t(spec.status)
            %td
              = spec.stock_item_quantity
            %td
              = spec.shipping_item_quantity
            %td
              = spec.requested_quantity
            %td
              = link_to "編輯", edit_admin_stock_path(stock), class: "btn btn-default"