%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{width: "40%"} 商品資訊
      %th 樣式資訊
  %tbody
    - stocks.each do |stock|
      %tr
        %td
          .media
            .media-left
              = image_tag(stock.cover.url, size: "120x120")
            .media-body
              %h4.media-heading 收貨商品編號：#{stock.id}
              %p 商品編號與名稱：#{stock.item_id} - #{stock.name}
              %p 狀態：#{item_status(stock.status)}
              %p 成本：#{stock.cost}
              %p 價格：#{stock.price}
        %td
          %table.table.table-bordered
            %thead
              %tr.active
                %th 收貨庫存編號
                %th 樣式編號與名稱
                %th 現貨數量
                %th 運送中數量
            %tbody
              - stock.stock_specs.each do |spec|
                %tr
                  %td
                    = spec.id
                  %td
                    = link_to "#{spec.item_spec.id} - #{spec.style}", "#", rel: "popover", data: { "image-url": "#{spec.item_spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
                  %td
                    = spec.amount
                  %td
                    = spec.shipping_item_quantity