%td{id: "stock-id-#{item.id}", rowspan: item.specs.count + 1}
  .media
    .media-left
      = image_tag(item.cover.url, size: "120x90")
    .media-body
      %p{id: "status-#{item.id}"}
        = link_to_update_item_status(item)
      商品編號：#{item.id}
      %p.help-block
      商品名稱：
      = link_to item.name, admin_item_path(item), target: "_blank"
      %p.help-block
      淘寶：#{item.ntd_cost}
      %p.help-block
      定價：#{item.price}
      %p.help-block
      優惠：#{item.special_price}