%table.table.table-striped.table-bordered.stocks-table
  %thead
    %tr
      %th.wide-name-field 商品資訊
      %th.information-field 樣式資訊
  %tbody
    - stocks.each do |stock|
      %tr
        %td
          .media
            .media-left
              = image_tag(stock.cover.url, size: "120x120")
            .media-body
              商品編號：#{stock.item_id}
              %br
              商品名稱：
              = link_to stock.name, admin_item_path(stock.item), target: "_blank"
              %br
              狀態：#{item_status(stock.status)}
              %br
              成本：#{stock.ntd_cost}
              %br
              價格：#{stock.price}
        %td
          %table.table.table-bordered.stocks-table
            %thead
              %tr.active
                %th.wide-name-field 樣式名稱
                %th.quantity-field 現貨數量
                %th.quantity-field 運送中數量
            %tbody
              - stock.stock_specs.each do |spec|
                %tr
                  %td
                    = link_to spec.style, "#", rel: "popover", data: { "image-url": "#{spec.item_spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
                  %td
                    = form_for [:admin, spec], remote: true, method: :patch, html: { class: "form-inline" } do |f|
                      .form-group
                        = f.label :amount, "庫存數量", class: "sr-only"
                        = f.number_field :amount, min: "0", class: "form-control form-amount", id: "#{spec.id}-stock_spec"
                      = f.submit "更新", class: "btn btn-warning"
                  %td
                    = spec.shipping_item_quantity