.content-box-large
  .info-title.clearfix
    %p.lead.pull-left 編輯商品樣式庫存
    %p.pull-right.inline-display
      = link_to "返回庫存列表", admin_stocks_path(taobao_supplier_id: @item.taobao_supplier_id, anchor: "stock-id-#{@item.id}"), class: "btn btn-default"
  %table.table.table-bordered
    %thead
      %tr
        %th.small-mid 商品資訊
        %th 樣式名稱
        %th 樣式狀態
        %th 現貨數量
        %th 運送中數量
        %th 建議庫存量
    %tbody
      %tr
        = render "stock_information", item: @item
        - @item.specs.each do |item_spec|
          %tr
            %td
              = link_to item_spec.style, "#", rel: "popover", data: { "image-url": "#{item_spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
            %td
              = t(item_spec.status)
            %td
              - if item_spec.stock_spec
                = form_for [:admin, item_spec.stock_spec], remote: true, method: :patch, html: { id: "update-#{item_spec.stock_spec.id}", class: "form-inline" } do |f|
                  .form-group
                    = f.label :amount, "庫存數量", class: "sr-only"
                    = f.number_field :amount, min: "0", class: "form-control form-amount", id: "#{item_spec.stock_spec.id}-stock_spec"
                  = f.submit "更新數量", class: "btn btn-primary"
              - else
                = form_for [:admin, StockSpec.new], html: { id: "create-#{item_spec.id}", class: "form-inline" } do |f|
                  = f.hidden_field :item_id, value: @item.id
                  = f.hidden_field :item_spec_id, value: item_spec.id
                  .form-group
                    = f.label :amount, "庫存數量", class: "sr-only"
                    = f.number_field :amount, min: "0", class: "form-control form-amount", id: "#{item_spec.id}-stock_spec"
                    = f.submit "建立庫存", class: "btn btn-warning"
            %td
              = item_spec.shipping_item_quantity
            %td
              = item_spec.requested_quantity