.modal.fade{:role => "dialog", :tabindex => "-1", id: "errors-modal"}
  .modal-dialog
    .modal-content
      .modal-header
        %span抱歉，以下商品現貨數不足!
      .modal-body
        - @unable_to_buy_lists.each do |list|
          .item-bar
            .icon= image_tag(list[:spec].style_pic.url)
            .text
              .itemname= list["name"]
              .spec= list[:spec].style
              - if list[:spec].status == "off_shelf"
                .off-shelf 商品樣式已下架
              -else
                .quantity= "購買數量：#{list[:quantity_to_buy]}"
                .stock= "現貨數：#{list[:spec].stock_amount}"

      .modal-footer
        - if current_user
          已將庫存不足的商品訂購數量更新，待補貨完成會再通知您！請至"補貨清單"查看。
        - else
          已將庫存不足的商品訂購數量更新，請再次確認您的訂單。
        %button.btn.btn-confirm{"data-dismiss" => "modal", :type => "button"} 確定