= render 'partials/cart_steps', step: @step
.cart-confirm
  .icon-header.-pencil 訂單明細
  .cart-result
    .header.row.visible-lg-block
      .col-lg-2 產品照片
      .col-lg-4 產品名稱
      .col-lg-2 產品樣式
      .col-lg-1 產品單價
      .col-lg-2 產品數量
      .col-lg-1 小計
    .divider.visible-lg-block
    - @items.each do |item|
      .item-bar.row{id: "cart-item-#{item.id}"}
        .col-lg-2.col-sm-2.col-xs-3.icon= image_tag(item.item.cover.icon.url)
        .col-lg-4.col-xs-8.itemname= item.item.name
        .col-lg-2.col-sm-10.col-xs-9.spec= item.item_spec.style
        .col-lg-1.col-sm-4.col-xs-2.price= item_current_price(item.item)
        .col-lg-2.col-sm-2.col-xs-2.quantity
          %div= item.item_quantity
        .col-lg-1.col-lg-offset-0.col-sm-2.col-sm-offset-1.col-xs-5.subtotal= price_with_unit(item.subtotal)
    .divider
    .totalrow.row
      .col-lg-2.col-lg-offset-9.col-xs-8.text
        %div 產品總額
        %div 運費（711超商取貨付款）
      .col-lg-1.col-xs-4.number
        #cart-sum= price_with_unit(@total)
        %div=  price_with_unit(ship_fee)
    .divider
    .totalrow.row
      .col-lg-2.col-lg-offset-9.col-xs-8.text
        %div 總計
      .col-lg-1.col-xs-4.number
        #totalprice= price_with_unit(@total + ship_fee)
.row
  .col-lg-6
    .icon-header.-pencil 訂購人資料
    .input-block.-info
      .group
        %div= "姓名：#{@info[:ship_name]}"
        %div= "電話：#{@info[:ship_phone]}"
        %div= "連絡信箱：#{@info[:ship_email]}"
  .col-lg-6
    .icon-header.-pencil 取貨門市資訊
    .input-block.-store
      .group
        = hidden_field_tag :store_id, '' ,value: @store.id
        %div= "門市名稱： #{@store.name}"
        %div= "地址： #{@store.address}"
= form_tag submit_order_path(info: @info, store: @store), method: :post do
  .submit-session
    =link_to '上一步', cart_info_path , class: 'btn btn-previous', onClick: analytic_event("checkout_step_3", "click", "previous_step")
    =submit_tag '送出訂單', class: 'btn', onClick: analytic_event("checkout_step_3", "click", "send_order")
