= render 'partials/cart_steps', step: @step
.cart-confirm
.icon-header.-pencil 訂單明細
%table.cart-result.table
  %thead
    %tr
      %td 產品照片
      %td 產品名稱
      %td 產品樣式
      %td 產品單價
      %td 產品數量
      %td 小計
  %tbody
    - @items.each do |item|
      %tr{id: "cart-item-#{item.id}"}
        %td.icon= image_tag(item.item.cover.icon.url)
        %td= item.item.name
        %td= item.item_spec.style
        %td= price_with_unit(item.item.price)
        %td= item.item_quantity
        %td= price_with_unit(item.subtotal)
    %tr.totalrow
      %td
      %td
      %td
      %td
      %td
        %div 產品總額
        %div 運費（711超商取貨付款）
      %td
        %div= price_with_unit(@cart.total)
        %div NT.60
    %tr.totalrow
      %td
      %td
      %td
      %td
      %td
        %div 總計
      %td
        %div= price_with_unit(@cart.total+60)
.icon-header.-pencil 訂單人資料
.input-block
  .group
    = "姓名：#{@info[:ship_name]}  ｜ 電話：#{@info[:ship_phone]} ｜ 連絡信箱：#{@info[:ship_email]} "
.icon-header.-pencil 取貨門市資訊
.input-block
  .group
    = "門市名稱: #{@store.name} ｜ 地址： #{@store.address} "
= form_tag submit_cart_path(@cart, info: @info, store: @store), method: :post do
  .submit-session
    =link_to '上一步', info_cart_path(@cart) , class: 'btn btn-previous'
    =submit_tag '送出訂單', class: 'btn'