= render 'partials/cart_steps', step: @step
.cart-confirm
  .icon-header.-order 訂單明細
  .cart-result
    .header.row.visible-lg-block
      .col-lg-2 產品照片
      .col-lg-4 產品名稱
      .col-lg-2 產品樣式
      .col-lg-1 產品單價
      .col-lg-2 產品數量
      .col-lg-1 小計
    .divider.visible-lg-block
    - @items.each do |item|
      .item-bar.row{id: "cart-item-#{item.id}"}
        .col-lg-2.col-sm-2.col-xs-3.icon= image_tag(item.item_spec.style_pic.url)
        .col-lg-4.col-xs-8.itemname= item.item.name
        .col-lg-2.col-sm-10.col-xs-9.spec= item.item_spec.style
        .col-lg-1.col-sm-4.col-xs-2.price= item_current_price(item.item)
        .col-lg-2.col-sm-2.col-xs-3.quantity
          %div= item.item_quantity
        .col-lg-1.col-lg-offset-0.col-sm-2.col-sm-offset-1.col-xs-4.subtotal= price_with_unit(item.subtotal)
    .divider
    .totalrow.row
      .col-lg-2.col-lg-offset-9.col-sm-5.col-xs-8.text
        %div 產品總額
      .col-lg-1.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
        #cart-sum= price_with_unit(@items_price)
    - if @shopping_point_amount > 0
      .totalrow.row
        .col-lg-2.col-lg-offset-9.col-sm-5.col-xs-8.text
          %div 購物金折抵
        .col-lg-1.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
          %div=  '-' + price_with_unit(@shopping_point_amount)
      .divider
      .totalrow.row
        .col-lg-2.col-lg-offset-9.col-sm-5.col-xs-8.text
          %div 折抵後總額
        .col-lg-1.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
          %div= price_with_unit(@reduced_items_price)
    .totalrow.row
      .col-lg-2.col-lg-offset-9.col-sm-5.col-xs-8.text
        %div 運費（滿490免運費）
      .col-lg-1.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
        #ship-fee
          = price_with_unit(@ship_fee)
    .divider
    .totalrow.row
      .col-lg-2.col-lg-offset-9.col-sm-5.col-xs-8.text
        %div 結帳金額
      .col-lg-1.col-lg-offset-0.col-sm-2.col-sm-offset-5.col-xs-4.number
        #totalprice= price_with_unit(@total)
.row
  .col-lg-6
    - if current_cart.ship_type == "store_delivery"
      .icon-header.-people 取貨人資訊
    - elsif Cart::HOME_DELIVERY_TYPES.include?(current_cart.ship_type)
      .icon-header.-people 收件人資訊
    .input-block.-info
      .group
        %div= "姓名：#{@info[:ship_name]}"
      .group
        %div= "電話：#{@info[:ship_phone]}"
      .group
        %div= "連絡信箱：#{@info[:ship_email]}"
  .col-lg-6
    - if current_cart.ship_type == "store_delivery"
      = render "store_delivery_info", store: @store
    - elsif Cart::HOME_DELIVERY_TYPES.include?(current_cart.ship_type)
      = render "home_delivery_info", ship_address: @ship_address
.submit-session-form
  = form_tag submit_order_path(info: @info), method: :post, remote: true do
    .submit-session
      =link_to '上一步', cart_info_path , class: 'btn btn-previous'
      =submit_tag '送出訂單', class: 'btn', id: "submit-order-btn", data: { disable_with: "處理中" }
#errors-infos
= render 'partials/tracking_events/checkout_step', step: @step, fb_event: "ReviewCart", cart_items: @items
= render "partials/tracking_events/send_event_to_google_analytics", category: "checkout_step_3", action: "enter", label: "無"