= render 'partials/cart_steps', step: @step
.cart-info
  = form_tag submit_cart_info_path, method: :post do
    .icon-header.-pencil 訂購人資料
    .input-block
      .group
        = label :ship_name, '姓名'
        = text_field_tag :ship_name, '' ,required: true
      .group
        = label :ship_phone, '電話'
        = text_field_tag :ship_phone, '' ,required: true
      .group
        = label :ship_email, '電子信箱'
        = text_field_tag :ship_email, '' ,required: true
        .text *名稱和電話必需正確才能取貨
    .icon-header.-mark 7-11取貨門市資訊
    .input-block.-store
      .group
        %span 選擇7-11寄送門市
        =link_to '選擇門市', select_store_path ,  class: 'btn regular-btn'
      .divider
      .group
        = hidden_field_tag :store_id, '' ,value: @store ? @store.id : nil, required: true
        %div= @store ?  "門市名稱： #{@store.name}" : '請選擇送達門市'
        %div= @store ?  "地址： #{@store.address}" : ""
    .submit-session
      =link_to '上一步', checkout_path, class: 'btn btn-previous'
      =submit_tag '下一步', class: 'btn'
