= render 'partials/cart_steps', step: @step
.cart-show
  .icon-header.-pencil 訂單明細
  .cart-result
    .hidden-xs.header.row
      .col-lg-2 產品照片
      .col-lg-3 產品名稱
      .col-lg-2 產品樣式
      .col-lg-1 產品單價
      .col-lg-2 產品數量
      .col-lg-1 小計
      .col-lg-1 刪除訂單
    .divider.hidden-xs
    - @items.each do |item|
      .item-bar.row{id: "cart-item-#{item.id}"}
        .col-lg-2.col-xs-3.icon= image_tag(item.item_spec.style_pic.url, id: "item-spec-pic-#{item.id}")
        .col-lg-3.col-xs-9.itemname
          = item.item.name
          .visible-xs-block= select_tag "item_spec_id",options_from_collection_for_select(item.item.specs, 'id', 'style', item.item_spec_id ),   class: 'select', id: 'min-select-specs', 'data-cart-item': item.id,'data-cart-id': @cart.id
        .col-lg-2.col-xs-3.hidden-xs= select_tag "item_spec_id",options_from_collection_for_select(item.item.specs, 'id', 'style', item.item_spec_id ),   class: 'select', id: 'select-specs', 'data-cart-item': item.id, 'data-cart-id': @cart.id
        .col-lg-1.col-xs-2= price_with_unit(item.item.price)
        .col-lg-2.col-xs-5.quantity-box
          .quantity-minus{ 'data-id': item.id, 'data-cart-id': @cart.id } -
          = number_field_tag "cart-item-#{item.id}-quantity", item.item_quantity, class: 'quantity', min: 1, max: 99
          .quantity-plus{ 'data-id': item.id,'data-cart-id': @cart.id } +
        .col-lg-1.col-xs-3{id: "cart-item-#{item.id}-subtotal"}= price_with_unit(item.subtotal)
        .col-lg-1.col-xs-2
          %button.cancel.cart-item-delete{"aria-label": "Close", type: "button", 'data-id': item.id,'data-cart-id': @cart.id }
    .divider
    .totalrow.row
      .col-lg-2.col-lg-offset-8.col-xs-8.text
        %div 產品總額
        %div 運費（711超商取貨付款）
      .col-lg-1.col-xs-4.number
        #cart-sum= price_with_unit(@cart.total)
        %div NT.60
      .col-lg-1.hidden-xs
    .divider
    .totalrow.row
      .col-lg-2.col-lg-offset-8.col-xs-8.text
        %div 總計
      .col-lg-1.col-xs-4.number
        #totalprice= price_with_unit(@cart.total+60)
      .col-lg-1.hidden-xs
  - if @cart.cart_items.any?
    .submit-session
      - if current_user
        = link_to '下一步', info_cart_path(@cart) , class: 'btn'
      -else
        = link_to '', "/auth/facebook", class: 'btn fb-login'
        = link_to '免註冊匿名購買', info_cart_path(@cart) , class: 'btn'
