%br/
.apple_pagination
  = will_paginate carts, :container => false
.panel-body
  %table.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th 編號
        %th 訂購日期與狀態
        %th 淘寶商家
        %th 訂購商品
        %th 確認收貨
    %tbody
      - carts.each do |cart|
        %tr
          %td
            = cart.id
          %td
            = display_date cart.created_at
            %br
            = show_status(cart.status)
          %td
            = cart.taobao_supplier.name
          %td
            %table.table.table-bordered
              %thead
                %tr.active
                  %th 編號
                  %th 名稱
                  %th 樣式
                  %th 數量
              %tbody
                - cart.admin_cart_items.each do |item|
                  %tr
                    %td
                      = item.item.id
                    %td
                      = item.item.name
                    %td
                      = link_to item.item_spec.style, "#", rel: "popover", data: { "image-url": "#{item.item_spec.style_pic_url}", "placement": "left" }, class: "btn btn-default btn-lg preview"
                    %td
                      = form_tag update_quantity_admin_admin_cart_item_path(item), method: 'patch', remote: true, class: "form-inline" do
                        = number_field_tag :item_quantity, item.item_quantity , min: 1,id: "cart-item-#{item.id}-quantity" , class: 'form-control update-cart-item-quantity', style: "width: 25%;"
                        = submit_tag '修改數量', class: "btn btn-default"
          %td
            = link_to_confirm_button(cart)
.apple_pagination
  = will_paginate carts, :container => false
%br/