%br/
.apple_pagination
  = will_paginate carts, :container => false
.panel-body
  %table.table.table-striped.table-bordered.stocks-table
    %thead
      %tr
        %th 編號
        %th.small-field 日期與狀態
        %th 淘寶商家
        %th.wrapper-field 訂購商品
        %th 確認收貨
    %tbody
      - carts.each do |cart|
        %tr
          %td
            = cart.id
          %td
            = admin_cart_date(cart)
            = t(cart.status)
          %td
            = cart.taobao_supplier_name
          %td
            %table.table.table-bordered.stocks-table
              %thead
                %tr.active
                  %th.small-field 商品編號
                  %th.name-field 商品名稱
                  %th.spec-field 商品樣式
                  %th.quantity-field 商品數量
              %tbody
                - cart.admin_cart_items.by_cart.each do |item|
                  %tr
                    %td
                      = item.item.id
                    %td
                      = link_to item.item.name, admin_item_path(item.item), target: "_blank"
                    %td
                      = link_to item.item_spec.style, "#", rel: "popover", data: { "image-url": "#{item.item_spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
                    %td
                      = admin_cart_item_quantity(item)
            %table.table.table-bordered
              %tbody
                %tr.active
                  %th 備註
                %tr
                  %td
                    = admin_cart_note(cart)
          %td
            = link_to_confirm_button(cart)
.apple_pagination
  = will_paginate carts, :container => false
%br/