- carts.each do |cart|
  .cart-table{id: "cart-#{cart.id}"}
    .pull-right= link_to_confirm_button(cart)
    %table.table.table-bordered
      %thead
        %tr
          %th.mid-small 收貨資訊
          %th.xx-small 商品編號
          %th.large-small 商品名稱
          %th.big-small 商品樣式
          %th.xx-small 訂購數量
          %th.x-small 到貨數量
      %tbody
        %tr
          %td{rowspan: cart.admin_cart_items.count + 1}
            編號：#{cart.id}
            %br
            = admin_cart_date(cart)
            %br
            淘寶商家：#{cart.taobao_supplier_name}
            %br
            淘寶訂單編號：#{cart.taobao_order_id}
          - cart.admin_cart_items.recent.each do |item|
            %tr
              %td= item.item.id
              %td= link_to item.item.name, admin_item_path(item.item), target: "_blank"
              %td= link_to item.item_spec.style, "#", rel: "popover", data: { "image-url": "#{item.item_spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
              %td= item.item_quantity
              %td= admin_cart_item_quantity(item)
          %tr
            = admin_cart_note(cart)