%table.table.table-bordered
  %thead
    %tr
      %th.xx-small 編號
      %th.x-small 日期與狀態
      %th.xx-small 淘寶商家
      %th.x-small 淘寶訂單編號
      %th
        %ul.stock-head-list
          %li.col-sm-2 商品編號
          %li.col-sm-3 商品名稱
          %li.col-sm-4 商品樣式
          %li.col-sm-2 訂購數量
          %li.col-sm-3 到貨數量
      %th 備註
      %th.xx-small
        收貨
  %tbody
    - carts.each do |cart|
      %tr{id: "cart-#{cart.id}"}
        %td
          = cart.id
        %td
          = admin_cart_date(cart)
          = t(cart.status)
        %td
          = cart.taobao_supplier_name
        %td
          = cart.taobao_order_id
        %td
          .row
            - cart.admin_cart_items.recent.each_with_index do |item, index|
              - if index == 0
                .list-start-boundary.clearfix
              %ul.stock-head-list
                %li.col-sm-2.left-content
                  = item.item.id
                %li.col-sm-3.central-content
                  = link_to item.item.name, admin_item_path(item.item), target: "_blank"
                %li.col-sm-4
                  = link_to item.item_spec.style, "#", rel: "popover", data: { "image-url": "#{item.item_spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
                %li.col-sm-2
                  = item.item_quantity
                %li.col-sm-3.right-content
                  = admin_cart_item_quantity(item)
              - unless index == cart.admin_cart_items.count - 1
                .list-end-boundary.clearfix
        %td
          = admin_cart_note(cart)
        %td
          = link_to_confirm_button(cart)