= form_tag update_actual_quantity_admin_admin_cart_item_path(item), method: 'patch', remote: true, class: "form-inline" do
  = number_field_tag :actual_item_quantity, item.actual_item_quantity , min: 0,id: "cart-item-#{item.id}" , class: "form-amount form-control update-cart-item-quantity #{quantity_warning_class(item)}"
  = submit_tag '更新', class: "btn btn-default"