.content-box-large
  .breadcrumb-topbar
    %ol.breadcrumb
      %li
        = link_to "萌萌屋", admin_root_path
      %li.active 確認收貨單列表
  .panel-body
    .pull-right
      = link_to "運送中商品清單EXCEL", export_shipping_list_admin_confirm_carts_path(format: 'xlsx'), class: 'btn btn-primary'
      = link_to "回到購物車", checkout_admin_admin_carts_path, class: "btn btn-default"
    %ul.nav.nav-tabs
      = li_cart_status_link(AdminCart::STATUS[:shipping])
      = li_cart_status_link(AdminCart::STATUS[:stock])
    = render "cart_table", carts: @carts