.form-group
  = f.label :title, "優惠活動標題", class: "col-sm-2 control-label"
  .col-sm-10
    = f.text_field :title, { class: "form-control", placeholder: "請輸入標題", required: true }
.form-group
  = f.label :image, "優惠活動圖片", class: "col-sm-2 control-label"
  .col-sm-10
    = f.file_field :image, { class: "form-control", required: true }
.form-group
  = f.label :content, "優惠活動內容", class: "col-sm-2 control-label"
  .col-sm-10
    = f.text_area :content, { rows: 6, class: "form-control", placeholder: "請輸入內容", required: true }
.form-group
  = f.label :discount, "優惠活動折扣", class: "col-sm-2 control-label"
  .col-sm-10
    = f.number_field :discount, class: "form-control", placeholder: "請輸入折扣", step: "0.01", required: true
.form-group
  .col-sm-offset-2.col-sm-10
    = f.submit "確認送出", class: "btn btn-primary"
    = link_to "取消離開", admin_promotions_path, class: "btn btn-warning"