.row
  .col-md-12
    %table{align: "center"}
      %tbody
        %tr
          %td{style: "color: #000"}
            %h3 
              親愛的
              %span{style: "padding: .2em;color: hotpink;"}=@order_info.ship_name
              您好，
            %br
            %p
              您的
              %span{style: "color: darkviolet;"}
                訂單編號
                =@order.id
              已於今日送達指定門市：
        %tr
          %td{align: "center", style: "color: #000"}
            %table{border: "1", cellpadding: "0", cellspacing: "0", width: "100%"}
              %thead
                %tr{align: "center", style: "background-color: antiquewhite;"}
                  %th{style: "padding: 5px;"} 門市名稱
                  %th{style: "padding: 5px;"} 門市地址
                  %th{style: "padding: 5px;"} 門市電話
              %tbody
                %tr{align: "center", style: "background-color: rgba(47, 176, 39, 0.05);"}
                  %td{style: "padding: 7px;"}= @order_info.ship_store_name
                  %td{style: "padding: 7px;"}= @ship_store.address
                  %td{style: "padding: 7px;"}= @ship_store.phone
        %tr
          %td{style: "color: #000"}
            %p
              請您於
              %span{style: "color: red;"}
                %em 七日內
              攜帶身分証件到店取貨付款。
            %p
              %span{style: "color: red;"}
                %em 七日內
              若未取貨，商品將自動退回。
            %p 若您因故未能取貨，請與客服聯繫。
            %p 萌萌屋感謝您
            %br
            %p 萌萌屋客服
            %p 
              %span{style: "display: block; margin: 10px 0;"}
                = link_to "Line@ 客服", "http://line.me/ti/p/%40kya5456n", {style: "color: darkgreen;border: 1px solid;padding: 8px;border-radius: 20px;text-decoration: none;"}
              %br
              %span{style: "display: block; margin: 10px 0;"}
                = link_to "FB 粉絲頁", "https://www.facebook.com/kingofgametw/", {style: "text-decoration: none;color: royalblue;border: 1px solid;padding: 8px;border-radius: 20px;"}