.row
  .col-md-12
    %table{:align => "center"}
      %tbody
        %tr
          %td
            %h2 萌萌屋感謝您！
            %p 親愛的萌友，
            %p 您的訂單已經成立，商品將於10個工作天內寄送至指定門市。
            %p 詳細資訊與購物內容可於萌萌屋App「我的訂單」裡查詢。         
        %tr
          %td
            %h3.red 您的訂單編號是：#{@order.id}
            %h3.blue 以下是您這次訂購的商品：
            %table{:border=>"1"}
              %thead
                %tr
                  %th.left 商品明細
                  %th 單價
                  %th 數量
                  %th 小記
              %tbody
                - @order_items.each do |order_item|
                  %tr
                    %td.left
                      = order_item.item_name
                    %td.right
                      = order_item.item_price
                    %td.right
                      = order_item.item_quantity
                    %td.right
                      = order_item.item_quantity * order_item.item_price
            %br
            %table
              %tr
                運費 
                = @order.ship_fee
                %hr                
              %tr
                總計 
                = @order.total
                
        %tr
          %td
            %p 若有任何問題，請聯繫我們客服。
            %p 萌萌屋期待您的再次光臨！
            %p 聯絡客服
            %p 
              %span
                = link_to "Line@ 客服", "http://line.me/ti/p/%40kya5456n"
              %br
              %br
              %span
                = link_to "FB 粉絲頁", "https://www.facebook.com/kingofgametw/"