.order-placed
  .mail-img
    = email_image_tag('mailer/img_order.png')
  .text-block
    %p
      親愛的
      %span.emphasize #{@order.get_user_name}
      ：
    %p
      您的訂單已經成立，商品將於
      %span.strong "3個工作天"
      內寄送至#{@order.store_delivery? ? "指定門市" : "宅配地址" }。
      詳細資訊與購物內容可於萌萌屋App
      %span.strong 「我的訂單」
      裡查詢。若有任何問題，請聯繫萌萌屋客服。
    %p
      萌萌屋期待您的再次光臨！
  .pink-divider
  .icon-header.-pencil 訂單明細
  .order-id 訂單編號：#{@order.id}
  .order-list
    %table
      %thead
        %tr
          %td.cell.photo 產品照片
          %td.cell.item-name 產品名稱
          %td.cell.spec 產品樣式
          %td.cell.unit-price 產品單價
          %td.cell.quantity 產品數量
          %td.cell.subtotal 小計
      %tbody
        - @order_items.each do |item|
          %tr
            %td.cell= email_spec_image_tag(item.item_spec, class: 'spec-pic')
            %td.cell= item.item_name
            %td.cell= item.item_style
            %td.cell= price_with_unit(item.item_price)
            %td.cell= item.item_quantity
            %td.cell= price_with_unit(item.subtotal)
        %tr.divider
          %td
          %td
          %td
          %td
          %td.cell 商品總額
          %td.cell= price_with_unit(@order.items_price)
        %tr
          %td
          %td
          %td
          %td
          %td.cell 運費
          %td.cell= price_with_unit(@order.ship_fee)
        %tr.divider
          %td
          %td
          %td
          %td
          %td.cell 總計
          %td.cell.total= price_with_unit(@order.total)
  .order-info
    .group
      .icon-header{style: "background-image: url(#{email_scss_image_tag('icons/pencil.png')})"} 訂購人資料
      .info-block
        .info 姓名：#{@order_info.ship_name}
        .info 電話：#{@order_info.ship_phone}
        .info 連絡信箱：#{@order_info.ship_email}
    - if @order.store_delivery?
      .group
        .icon-header{style: "background-image: url(#{email_scss_image_tag('icons/ic_711.png')})"} 7-11取貨門市資訊
        .info-block
          .info 門市名稱： #{@order_info.ship_store_name}
          .info 地址： #{@order_info.store.address}
          .info 門市電話： #{@order_info.store.phone}
    - else
      .group
        .icon-header{style: "background-image: url(#{email_scss_image_tag('icons/ic_711.png')})"} 宅配寄送資訊
        .info-block
          .info 收件地址： #{@order_info.ship_address}