.order-placed
  .mail-img
    = email_image_tag('mailer/img_arrive.png')
  .text-block
    %p
      親愛的
      %span.emphasize #{@order.get_user_name}
      ：
    %p
      您的訂單
      %span.strong 「編號#{@order.id}」
      已於今日送達指定門市，請您於
      %span.strong "七日內"
      攜帶身分證件到店取貨付款。若七日內未取貨，商品將自動退回。若您因故未能取貨，請與客服聯繫。
    %p
      萌萌屋感謝您！
  .pink-divider
  .order-info
    .group
      .icon-header{style: "background-image: url(#{email_scss_image_tag('icons/pencil.png')})"} 訂購人資料
      .info-block
        .info 姓名：#{@order_info.ship_name}
        .info 電話：#{@order_info.ship_phone}
        .info 連絡信箱：#{@order_info.ship_email}
    .group
      .icon-header{style: "background-image: url(#{email_scss_image_tag('icons/ic_711.png')})"} 7-11取貨門市資訊
      .info-block
        .info 門市名稱： #{@order_info.ship_store_name}
        .info 地址： #{@order_info.store.address}
        .info 門市電話： #{@order_info.store.phone}