- content_for :head do
  %link{href: "android-app://com.kosbrother.mongmongwoo/https/www.mmwooo.com#{category_item_path(@category,@item)}", rel: "alternate"}
  %link{href: "android-app://com.kosbrother.mongmongwoo/mmwooo/www.mmwooo.com#{category_item_path(@category,@item)}", rel: "alternate"}
  - @item.photos.each do |p|
    %meta{ property: "og:image", content: p.image_url }
  = render "partials/schema_data/product", item: @item, category: @category

- breadcrumb :item, @category, @item
.product-block.row
  .col-lg-6.xs-padding
    .spec-photos
      .show
        = image_tag(@first_item_spec.style_pic.url, class: 'img-responsive')
      .icons
        - @item_specs.each do |item_spec|
          = render_item_spec_icon(item_spec, item_spec.stock_amount, is_active: item_spec.id == @first_item_spec.id)
  .col-lg-6
    .order-box.row
      .name
        = @item.name
      = form_for :cart_item, url: :cart_items, remote: true do |f|
        = f.hidden_field(:item_id, value: @item.id)
        .col-lg-3.col-xs-3.no-padding
          .header 優惠價
        .col-lg-9.col-xs-9
          .dollar NT$
          = detail_item_current_price(@item)
        .col-lg-3.col-xs-3.no-padding
          .header 樣式名稱
        .col-lg-9.col-xs-9
          = f.select :item_spec_id, @item_specs.collect { |item_spec| [item_spec.style, item_spec.id] }, {selected: @first_item_spec.id},  class: 'spec-select'
        .col-lg-3.col-xs-3.no-padding
          .header 樣式庫存
        .col-lg-9.col-xs-9
          = content_tag(:div, render_stock_amount(@first_item_spec.stock_amount), class: 'stock-amount')
        .col-lg-3.col-xs-3.no-padding
          .header 選擇商品數量
        .col-lg-9.col-xs-9
          .quantity-box
            .quantity-minus -
            = f.number_field :item_quantity, class: 'quantity', value: '1', min: '1', max: @first_item_spec.stock_amount
            .quantity-plus +
        .col-lg-3.col-xs-3.no-padding
          .header 購物須知
        .col-lg-9.col-xs-9
          .info
            寄送方式：711超商取貨(滿490免運費)
            %br/
            付款方式：超商付款取貨
        .col-lg-12.col-xs-12.no-padding
          .add-cart
            = render_favorite_btn(@item)
            - @item_specs.each do |item_spec|
              = render_off_shelf_or_add_btn(@item, item_spec, is_hidden: item_spec.id != @first_item_spec.id)
            .customer
              購物遇到問題？
              = link_to '聯繫客服', 'http://line.me/ti/p/%40kya5456n'
.star-header 商品說明
.text-align
  = raw @item.description
.star-header 更多照片
.photo-list
  - @item.photos.each do |photo|
    = image_tag(photo.image.url, class: 'img-responsive')

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1101896056521102',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/zh_TW/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
.fb-like{"data-action" => "like", "data-href" => request.original_url, "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-size" => "small"}
.fb-save{"data-size" => "large", "data-uri" => request.original_url}
.fb-comment-embed{"data-href" => request.original_url, "data-include-parent" => "false", "data-width" => "560"}


= render "partials/tracking_events/view_item_content", item: @item
= render "partials/tracking_events/send_event_to_google_analytics", category: @pop_items.include?(@item) ? "popular_product" : "product", action: "view", label: @item.name