%div{:clas => "row"}
  .content-box-large
    .breadcrumb-topbar
      %ol.breadcrumb
        %li
          %a{:href => "#"} 萌萌屋
        %li{:class => "#{"active" if current_page?(controller: "admin/categories", action: "index")}"}
          %a{:href => admin_categories_path} 分類列表
        %li{:class => "#{"active" if current_page?(controller: "admin/categories", action: "index")}"}= @category.name
    %h2= @category.name
    .category-all-items
      .panel-body
        .btn-group{"aria-label" => "排序方式", :role => "group"}
          = link_to '依照排名', url_for(order: 'position'), class: 'btn btn-default'
          = link_to '依照更新時間', url_for(order: 'update'), class: 'btn btn-default'

        = render "table"
