.apple_pagination
  = will_paginate users, :container => false
%br/
.panel-body
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th 編號
        %th 臉書ID
        %th 名稱
        %th 性別
        %th 操作選項
    %tbody
      - users.each do |user|
        %tr
          %td= user.id
          %td= user.uid
          %td= user.user_name
          %td= user.gender
          %td
            .dropdown
              %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                按此選擇
                %span.caret
              %ul.dropdown-menu.list-group
                %li
                  = link_to "個人訊息", admin_user_my_messages_path(user)
                %li
                  = link_to "查看使用者", admin_user_path(user)
.apple_pagination
  = will_paginate users, :container => false
%br/