.content-box-large
  .breadcrumb-topbar
    %ol.breadcrumb
      %li
        = link_to "萌萌屋", admin_root_path
      %li
        = link_to "用戶名稱列表", admin_users_path
      %li.active 用戶詳細資料
  .pull-right
    = link_to "返回訂單列表", status_index_admin_orders_path, class: "btn btn-success"
  %h2
    用戶名稱：#{@user.user_name}
  .user-infos.well
    %p.lead 用戶資料：
    %dl.dl-horizontal
      %dt 性別
      %dd= @user.gender
      %dt UID
      %dd= @user.uid
      %dt Email
      %dd= @user.email
  .user-orders-list.well
    %p.lead 用戶訂單：
    %table.table.table-bordered
      %thead
        %tr
          %th 訂單編號
          %th 訂單金額
          %th 訂單聯絡電話
          %th 訂單Email
          %th 訂單狀態
          %th 訂購明細
          %th 寄送滿意度問卷
      %tbody
        - @user.orders.each do |order|
          %tr
            %td= order.id
            %td= order.total
            %td= order.ship_phone
            %td= order.ship_email
            %td= order.status
            %td
              %button.btn.btn-default.btn-sm{"data-target" => "#order-#{order.id}", "data-toggle" => "modal", :type => "button"}
                = order.id
              = render(partial: "admin/orders/info_and_items_list", locals: { order: order })
            %td= link_to_send_survey_email(order)