= form_for [:admin, Message.new], url: admin_user_my_messages_path(user), html: { class: "form-horizontal" } do |f|
  .form-group
    = hidden_field_tag "device_registration_id", device_id
  .form-group
    = f.label :message_type, "訊息類型", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :message_type, Message.message_type_lists, { selected: "#{select_message_type(user)}" }, class: "form-control", required: true
  .form-group
    = f.label :title, "訊息標題", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :title, { class: "form-control", placeholder: "請輸入標題", required: true }
  .form-group
    = f.label :content, "訊息內容", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :content, { rows: 6, class: "form-control", placeholder: "請輸入內容", required: true }
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "確認送出", class: "btn btn-primary"