.content-box-large
  .category-all-items
    .breadcrumb-topbar
      %ol.breadcrumb
        %li
          = link_to "萌萌屋", admin_root_path
        %li
          = link_to "使用者列表", admin_users_path
        %li.active 個人訊息列表
    .pull-right
      = render "new_message", user: @user
    %h2 #{@user.user_name}的訊息列表
    %br
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th 訊息編號
          %th 訊息標題
          %th 訊息內容
          %th 公布時間
      %tboady
        - @messages.each do |message|
          %tr
            %td
              = message.id
            %td
              = message.title
            %td
              = message.content
            %td
              = display_date_and_time(message.created_at)