!!!
%html{:lang => "zh-TW"}
  = render 'layouts/partials/web_header'
  %body
    = render 'partials/navbar'
    = notice_message
    .container
      =  render_float_cart
      .col-lg-3.visible-lg-block
        = render 'partials/sidebar'
      .col-lg-9.col-xs-12.xs-padding
        = breadcrumbs
        = yield
    = render 'partials/footer'
